body {
    background-color: rgb(34, 95, 133);
}
.header {
    background-color: rgb(25, 19, 61);
    position: fixed;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    color: white;
    z-index: 10;
    box-shadow: 1px 1px 0.8em;
}
.container {
    display: flex;
    flex-direction: column;
}
.inputField {
    margin-top: 18%;
}
.listView {
    margin-bottom: 20%;
}
.clearBtn {
    position: fixed;
    bottom: 3%;
    width: 35%;
    aspect-ratio: 3;
    font-size: larger;
    font-style: italic;
    letter-spacing: 0.3ch;
    border-radius: 5em;
    box-shadow: 1px 1px 0.5em;
    background-color:  rgb(25, 19, 61);
    color: white;
}

@media screen and (min-width: 600px) {
    .header {
        justify-content: left;
        padding-left: 1em;
        font-size: x-large;
    }
    .clearBtn {
        width: 8em;
    }
    .inputField {
        margin-top: 10%;
    }
}